@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<p>Welcome Admin.</p>

<p>
    <a asp-controller="Admin" asp-action="SellerApplications" class="btn btn-primary">
        View Seller Applications
    </a>
</p>