<!-- Views/Shared/_Sidebar.cshtml -->

<aside class="sidebar">
    <div>
        <a class="sidebar-brand" href="#">BuyZaar</a>
        <nav class="sidebar-nav">
            <a href="/Seller/Index">Dashboard</a>
            <a href="/Seller/Products">Products</a>
            <a href="/Seller/Orders">Orders</a>
            <a href="/Seller/Profile">Shop Profile</a>
        </nav>
    </div>
</aside>